<p>population-composition works!</p>
<app-page-layout>
  <app-header header></app-header>
  <div class="body" body>
    <div class="chart">
      <h2 class="chart__title">人口グラフ</h2>
      <app-chart
        xAxesLabel="年度（年）"
        yAxesLabel="人口（人）"
        [lineChartData]="lineChartData"
        [lineChartLabels]="lineChartLabels"
      ></app-chart>
    </div>
    <div class="prefecture">
      <h2 class="prefecture__title">都道府県</h2>
      <div class="prefecture__cards">
        <app-checkbox-list-item
          class="prefecture__cards__card"
          *ngFor="let prefectureInfo of prefectureInfoList"
          [label]="prefectureInfo.prefName"
          [(value)]="prefectureInfo.value"
          (valueChange)="prefectureValueChange()"
        ></app-checkbox-list-item>
      </div>
    </div>
  </div>
</app-page-layout>
